@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  background-image: url('../../assets/gallery/bg-gallery.png');
  background-size: cover;
}

.title-container {
  padding: 50px 0;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.title-container h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
  color: #ffffff;
}

.title-container h1::before,
.title-container h1::after {
  display: inline-block;
  width: 40px;
  height: 2px;
  margin: 10px;
  content: '';
  background: #ffffff;
}

.title-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 43px;
  font-weight: 700;
  color: #cda45e;
}

.image-container,
.button-container {
  display: flex;
  justify-content: center;
}

.image-container-mobile {
  display: none;
}

.text-container {
  position: relative;
  bottom: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 192px;
  font-weight: 600;
  text-align: center;
  background: rgb(19 19 19 / 60%);
  border-radius: 12px 12px 0 0;
  opacity: 0;
  transition: all 1s;
}

.carousel,
.carousel-fade .carousel-inner .carousel-item img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 450px;
}

.carousel-fade .carousel-inner .carousel-item img {
  border-radius: 10px;
}

.carousel-fade .carousel-inner .carousel-item:hover {
  & .text-container {
    opacity: 1;
  }
}

.text-container .text-container__title {
  font-family: 'Poppins', serif;
  font-size: 20px;
  color: #ebebeb;
}

.text-container .text-container__title::after,
.text-container .text-container__title::before {
  display: inline-block;
  width: 50px;
  height: 1px;
  margin: 5px;
  content: '';
  background: #a6a6a6;
}

.text-container .text-container__subtitle {
  padding: 0 20px;
  font-family: 'Taviraj', serif;
  font-size: 16px;
  color: #ebebeb;
}

.button-container {
  display: flex;
  gap: 160px;
  justify-content: center;
  padding: 65px 0 100px;
}

.button-menu,
.button-reserve {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 73px;
  padding: 10px 16px;
  font-family: 'Taviraj', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background: rgb(253 253 253 / 32%);
  border: 7px solid #a4834b;
  border-radius: 50px;
}

@media only screen and (width <= 670px) {
  .title-container h1 {
    font-size: 30px;
  }

  .title-container h2 {
    font-size: 25px;
  }

  .image-container {
    display: none;
  }

  .image-container-mobile {
    display: inline-block;
  }

  .image-container-mobile figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container-mobile figure img {
    width: 90%;
  }

  .text-container {
    bottom: 115px;
    width: 90%;
    height: 115px;
    border-radius: 5px;
    opacity: 1;
  }

  .text-container .text-container__title {
    font-size: 15px;
  }

  .text-container .text-container__subtitle {
    font-size: 12px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0 0 100px;
  }
}
