/* stylelint-disable prettier/prettier */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 16px;
  font-size: 18px;
}

.topbar .icon {
  margin-right: 10px;
  font-size: 20px;
  color: #d9ba85;
}

#sticky-top {
  position: sticky;
  top: 0;
}

.navbar-brand {
  margin-left: 15px;
  font-size: 20px;
}

.navbar-collapse {
  justify-content: space-around;
}

.navbar-nav .nav-link a {
  padding: 0 20px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.nav-link {
  padding: 0 !important;
  margin: 10px 0;
}

#links :hover > a {
  color: #d9ba85;
  border-width: 2px;
  border-bottom-color: #d9ba85;
  border-bottom-style: solid;
  transition: all 0.5s;
}
