@import url("'https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Taviraj:ital,wght@0,500;1,500&display=swap'");
@import url("'https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap'");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 100px;
  background-color: #ffffff;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 16px;
}

footer {
  font-family: "'Taviraj'", serif;
  color: #ffffff;
  background-color: #302f2b;
}

.top-footer,
.right-footer,
.left-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-footer h2 {
  margin: 22px 0;
  font-size: 25px;
}

.top-footer ul {
  display: flex;
  padding: 0;
  margin: 0 0 45px;
  list-style: none;
}

.top-footer a {
  margin: 0 5px;
  font-family: "'Roboto'", sans-serif;
  font-size: 15px;
  color: #cda45e;
  text-decoration: none;
}

#line {
  padding: 0 36%;
  margin-bottom: 30px;
  color: #ffffff;
  opacity: 100;
}

#social-links {
  display: flex;
  align-items: center;
}

.footer-nav-links a {
  font-size: 12px;
  color: #cda45e;
  text-decoration: none;
}

.social-links a {
  box-sizing: border-box;
  align-items: center;
  padding: 5px 10px 9px;
  margin: 0 25px;
  background-color: #3f3f3f;
  border-radius: 100px;
}

.section-pages a {
  margin: 0 7px;
  font-size: 12px;
  color: #cda45e;
  text-decoration: none;
}

.footer-center :hover > a {
  color: #cda45e;
}

.end-footer > .left-footer {
  order: 1;
}

.end-footer > .right-footer {
  order: 3;
}

.end-footer {
  display: flex;
  justify-content: space-evenly;
}

.end-footer > #social-links {
  display: flex;
  align-items: center;
  order: 2;
}

#social-links ul {
  display: flex;
  align-items: end;
  padding: 0;
  margin: 0;
  list-style: none;
}

#social-links li {
  margin: 0 10px;
}

.navbar-nav .nav-link a {
  padding: 0 20px 4px;
  font-family: "'Roboto'", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

#social-links a {
  box-sizing: border-box;
  padding: 7px 10px 10px;
  background-color: #3b3b3b;
  border-radius: 100px;
}

.end-footer h3 {
  padding: 0;
  margin: 10px 0 5px;
  font-size: 18px;
}

.topbar svg {
  margin: 0 5px;
}

.navbar {
  background-color: #000000;
}

.navbar-brand {
  margin-left: 15;
  font-family: "'Taviraj'", serif;
  font-size: 20px;
}

.navbar-collapse {
  justify-content: space-around;
}

#button {
  margin: 0 10px;
  color: #ffffff;
  border: none;
  box-shadow: none;
}

#links .active {
  color: #d9ba85;
  border-bottom: 2px solid #d9ba85;
}

#links :hover > a {
  color: #d9ba85;
  border-bottom: 2px solid #d9ba85;
  transition: all 0.5s;
}

.footer-left p,
.end-footer p {
  margin: 0;
  font-size: 11px;
}

.right-footer :last-child {
  margin-bottom: 20px;
}

@media only screen and (width <= 768px) {
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
  }

  .top-footer ul {
    margin: 0;
  }

  .top-footer li {
    margin: 5px 0;
  }

  .top-footer a {
    color: #ffffff;
  }

  span {
    display: none;
  }

  .top-footer .active {
    color: #cda45e;
  }

  #line {
    display: none;
  }

  .end-footer {
    display: flex;
    flex-direction: column;
  }

  .end-footer > #social-links {
    justify-content: center;
    order: 1;
  }

  #social-links ul {
    flex-direction: row;
    margin: 20px 0;
    text-decoration: none;
  }

  .end-footer > .left-footer {
    order: 2;
  }

  .end-footer .left-footer h3 {
    margin: 20px 0 5px;
  }

  .end-footer p {
    margin: 0;
  }

  .end-footer .right-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .end-footer iframe {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .right-footer :last-child {
    margin-bottom: 50px;
  }
}

/* .order {
  align-items: center;
  color: #ffffff;
  background-color: #302f2b;
}

/* .order :nth-child(1) {
  order: 2;
  background-color: brown;
}

.order :nth-child(2) {
  background-color: aqua;
} */

/* .order h2 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 20px;
  color: #ffffff;
}

.section-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-pages ul {
  display: flex;
  list-style: none;
}

.section-pages span {
  color: #ffffff;
}

.nav-span {
  padding: 0 7px;
  color: #ffffff;
.social-links a {
  box-sizing: border-box;
  padding: 5px 10px 10px;
  background-color: #3b3b3b;
  border-radius: 100px;
} */

/* .section-pages a {
  margin: 0 7px;
  font-size: 12px;
  color: #cda45e;
  text-decoration: none;
}

.section-pages .line {
  display: flexbox;
  justify-content: center;
  width: 400px;
  margin: 0;
  opacity: 100;
}

.end-footer {
  display: flex;
  justify-content: space-around;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left :first-child {
  font-size: 15px;
}

.footer-left p {
  padding: 3px 0;
  margin: 0;
  font-size: 8px;
}

.footer-center {
  display: flex;
  align-items: end;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

@media only screen and (width <= 425px) {
  div p:first-child {
    display: none;
  }
}

@media only screen and (width <= 991px) {
  .navbar {
    padding: 0 !important;
    margin: 5px 0;
    background-color: #000000;
  }

  .container-fluid {
    padding: 0 !important;
  }

  .navbar-collapse {
    background-color: #3b3b3b;
  }

  .container-fluid span {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  #links .active {
    border: none;
  }

  #links :hover a {
    color: #ffffff;
    border: none;
  }

  .social-links li {
    margin: 10px;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-right p {
    padding: 3px 0;
    margin: 0;
    font-size: 8px;
  }
}
.footer-right p {
  padding: 3px 0;
  margin: 0;
  font-size: 8px;
} */
