/* stylelint-disable no-descending-specificity */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@200;600&family=Taviraj:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  background-color: #1a1a1a;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.container-title h1 {
  padding: 20px;
  font-size: 40px;
  font-weight: 600;
}

.container-title h1:hover {
  color: #cda45e;
  cursor: pointer;
  transition: 1s;
}

.container-title > h1::before {
  display: inline-block;
  width: 70px;
  height: 2px;
  margin: 10px;
  content: '';
  background: #ffffff;
}

.container-title > h1::after {
  display: inline-block;
  width: 70px;
  height: 2px;
  margin: 10px;
  content: '';
  background: #ffffff;
}

.container-title > h3 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #cda45e;
}

.container-title > h3:hover {
  color: #ffffff;
  cursor: pointer;
  transition: 1s;
}

.container-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
}

.container-ul > li > a {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.container-ul > li > a:hover {
  color: #cda45e;
  transition: 0.5s;
}

.menu-content {
  display: flex;
}

.menu-ingredients {
  display: flex;
  padding: 10px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  padding: 50px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.menu-item > div {
  display: flex;
  align-items: flex-end;
}

.menu-item > div > div > a {
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none !important;
}

.menu-item > div > div > a:hover {
  color: #cda45e;
  transition: 0.5s;
}

.menu-item > div > div > p {
  font-size: 10px;
  color: #ffffff;
}

.menu-item img {
  width: 130px;
  margin-right: 20px;
}
